*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow' sans-serif;
    font-family: 'Bellafair' serif;
    background: #0B0D17;
    background-image: url(../../images/crew-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Barlow', sans-serif;
    font-family: 'Bellefair',serif;
    font-family: 'Barlow Condensed', sans-serif;
    height: 100vh;
    background-image: url(../../images/moon-bg.jpg);
    background-size:100% 100%;
    background-position: 100%;
    background-repeat: no-repeat;

}
