

.site-header {
    padding: 40px 0  0 55px;
    margin: 0 auto;
    max-width: 1385px;
}
.space {
    @include display($items:center,$space:space-between,$gap:0);
}
.space__logo-link {
    display: inline-block;
}
.space__list {
    position: relative;
    @include display($items:center,$space:center,$gap:48px);
    width: 830px;
    padding: 38px 0;
    background-color: rgba(255, 255, 255, 0.04);
    text-align: center;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -413px;
        margin: auto 0;
        width: 443px;
        height: 1px;
        background-color: #383E47;
    }
}

.space__link {
    @include textStyle($FW:400,$FS:16px,$LH:19px,$CASE:uppercase,$MB:0,$CLR:$white-color);
    position: relative;
    letter-spacing: 2.7px;
    font-family: 'Barlow Condensed';
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -38px;
        background-color: $white-color;
        transition: all 0.2s linear;
        opacity: 0;
    }
    &:hover::before{
        opacity: 1;
    }
    }
//     .crew__text-wrapper{
//         font-family: 'Barlow', sans-serif;
               
//    }
.crew-body{
    background: #0B0D17;
    background-image: url(../../images/crew-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.crew-section{
    padding-top: 76px;
}
.crew{
    @include display($items:center,$space:space-between,$gap:81px);
}
.crew__title {
    @include textStyle($FW:400,$FS:28px,$LH:34px,$CASE:uppercase,$MB:84px,$CLR:$white-color);
    font-family: 'Barlow' ;
    letter-spacing: 4.72px;
}
.crew__title span{
    @include textStyle($FW:700,$FS:28px,$LH:34px,$CASE:uppercase,$MB:0,$CLR:$white-color);
    font-family: 'Barlow' serif ;
    letter-spacing: 4.72px;
    opacity: 25%;
    padding-right: 24px;
}
 .crew__text-wrapper h2{
    @include textStyle($FW:400,$FS:28px,$LH:37px,$CASE:uppercase,$MB:15px,$CLR:$white-color);
    font-family: 'Bellafair' serif;
    opacity: 50%;
}
 .crew__text-wrapper h3{
    @include textStyle($FW:400,$FS:36px,$LH:64px,$CASE:uppercase,$MB:22px,$CLR:$white-color);
    font-family: 'Bellafair' ;
}
 .crew__text-wrapper p{
    width: 444px;
    @include textStyle($FW:400,$FS:16px,$LH:32px,$CASE:capitalize,$MB:90px,$CLR:#D0D6F9);
    font-family: 'Barlow' ;
}
 .crew__text-wrapper img{
    margin-bottom: 44px;
}
.crew__img-wrapper{
    margin-top: 20px;
    margin-left: 137px;
}


